body {
  background-color: #faf3d9 !important;
  background-image: none;
}
nav.navbar {
	background: url("https://cdn.pixabay.com/photo/2017/06/15/23/47/painting-2407262_960_720.jpg");
  background-size: cover;
}
li.navbar-item a.nav-link {
  color: #6d3830;
  text-align: center;
  /*lettertype veranderen*/
  font-family: 'Nunito', sans-serif  !important;
  font-size: 20px;
  font-weight: bold:
  /*font-family: 'Roboto Condensed', sans-serif;*/s
}
li.navbar-item a.nav-link:hover {
  color: ##37383d;
  text-align: center;
  /*lettertype veranderen*/
  font-family: 'Nunito', sans-serif  !important;
  text-decoration-line: overline;
  text-decoration-color: #c54c03;
  font-style: italic;

}
.navbar-brand {
  font-family: 'Italianno-Regular' !important;
  line-height: 80px;
	font-size: 5em !important;
  color: #6d3830;
  text-align: center;
  text-shadow: #dbdbdb 1px 3px 7px;
  /*lettertype veranderen*/
  /*font-family: 'Mr Dafoe', cursive;
  font-size: 100px;
  font-family: 'Mrs Saint Delafield', cursive;
  font-family: 'Meddon', cursive;
  font-family: 'Homemade Apple', cursive; */
}
.carousel-caption {
  color: #6d3830;
}
ol.carousel-indicators li{
  background: none;
  border: 2px #6d3830 dotted;
  height: 30px;
  border-radius: 50%;
}
ol.carousel-indicators li:active {
  background-color: cyan;
}
/*https://stackoverflow.com/questions/46249541/change-arrow-colors-in-bootstraps-carousel*/
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231095648' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231095648' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
img[src="PAVERPOL/Beelden/Lady_in_red.jpg"] {
  height: 640px;
  width: auto;
  transform: rotate(90deg);
}
