
@font-face {
  font-family: 'Italianno-Regular';
  src: url('Italianno-Regular.eot?#iefix') format('embedded-opentype'),  url('Italianno-Regular.woff') format('woff'), url('Italianno-Regular.ttf')  format('truetype'), url('Italianno-Regular.svg#Italianno-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
